<h3 class="category-list__heading">
  {{this.blockTitle}}
</h3>

<div class="category-list__container">
  {{#each this.categoryList as |category|}}
    <div class="category-list__category">
      {{category-link category}}
    </div>
  {{/each}}
</div>