<PluginOutlet @name="above-right-sidebar-blocks" />

{{#each this.blocks as |block|}}
  <div class={{block.classNames}}>
    {{component block.internalName params=block.parsedParams}}
  </div>
  <PluginOutlet
    @name="below-right-sidebar-block"
    @outletArgs={{hash block=block}}
  />
{{/each}}

<PluginOutlet @name="below-right-sidebar-blocks" />