
{{#if this.parentCategory.category.subcategories}}
  <h3 class="subcategory-list--heading">
    {{theme-i18n "subcategory_list.heading"}}
  </h3>

  <div class="subcategory-list--items">
    {{#each this.parentCategory.category.subcategories as |subcat|}}
      <div class="subcategory-list--item">
        <SubCategoryItem @category={{subcat}} @listType={{this.listType}} />
      </div>
    {{/each}}
  </div>
{{/if}}
