// Using old-school floats on purpose here because
// we can't easily know if sidebar is active in
// the current route in the parent elements in core
// and therefore can't use grid or flexbox
.tc-right-sidebar {
  width: 25%;
  box-sizing: border-box;
  float: right;

  // targent adjacent core layout element
  + #list-area {
    width: calc(75% - 2.5em);
    float: left;
  }
}

.rs-component {
  margin-bottom: 1.5em;
  h3 {
    border-bottom: 1px solid var(--primary-low);
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
  }
}

// Top contributors
.top-contributors--user {
  margin-bottom: 0.5em;
  display: grid;
  grid-template-columns: auto 25%;
  grid-template-areas: "left right";
  grid-column-gap: 1em;
  cursor: pointer;
}

.top-contributors--user-badge {
  grid-area: left;
}

.top-contributors--user-likes {
  grid-area: right;
  justify-self: end;
}

// Recent replies

.recent-replies--reply {
  border-bottom: 1px solid var(--primary-low);
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}

.recent-replies--reply-meta {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5em;
}

// category topics
.category-topics--content {
  padding: 0.5em 0;
}

.category-topics--topic {
  display: block;
  margin-bottom: 0.25em;
}

.category-topics--posts-count {
  color: var(--primary-high);
}
